.tabela {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4C47EB;
    border-radius: 8px;
    background-color: #d1bbdf;
}

.tabela-titulo {
    border-bottom: 2px solid #4C47EB;
}


.tabela-titulo, .tabela-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    gap: 1rem;
}

.tabela-titulo li, .tabela-items li {
    padding: 0.5rem;
    width: 100%;
    font-size: 1.2rem;  
}